
#root {
  /* max-width: 1000px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* background: linear-gradient(to bottom, #3f6eb5 0%, #3f6eb5 20%, #3f6eb5 20%, #d3d3d3 0%); */
  /* Blue (#3f6eb5) for the top 14% and a deeper gray (#d3d3d3) for the bottom 86% */
  font-family: Arial, sans-serif; /* Example font */
}

.search-and-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.search-box {
  flex-grow: 1;
  padding: 8px;
  /* margin-right: 10px; */
  border: 0px solid #ccc;
  border-radius: 5px; /* Rounded corners for modern look */
  outline: none;
}

.main-container {
  display: flex;
  width: 100%;
}

.chat-container {
  display: flex;
  width: 50vw;
  height: 100vh;
  /* background-color: #d3d3d3; */
  border-right: 1px solid #e0e0e0; /* Subtle border */
}

.sidebar {
  width: 20vw;
  max-height: calc(100vh); /* Adjust height as needed, assuming there's a header of 60px */
  background-color: #fff;
  border-right: 0px solid #ccc;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling */
  border-right: 0px solid #636da4; /* Subtle border */
  /* margin-right: 2px; */
}

.assistant-list {
  overflow-y: auto; /* Enables scrolling for the assistant list */
  overflow-x: hidden; /* Enables scrolling for the assistant list */
  flex-grow: 1; /* Allows the list to take up the remaining height */
  border-right: 0px solid #636da4;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
}

.assistant-tab {
  display: flex;
  align-items: flex-start;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 18px;
  background-color: #f2f2f2;
  color: #333;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
}

.assistant-tab:hover, .assistant-tab.active {
  background-color: #dae0e5; /* Lighter shade for hover or active */
  color: #333; /* Ensuring text color is visible on the lighter background */
}

.assistant-name {
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.last-message {
  font-size: 14px;
  color: #666;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}


.app-header {
  width: 100%;
  background-color: #f8f8f8; /* Adjust the color as needed */
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 2px solid #3f6eb5;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  min-height: 50px;
  height: 50px; /* Set a fixed height */
  background-color: #fff;
}

.drawer-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 0px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  border-top: 1px solid #e0e0e0;
  min-height: 50px;
  height: 50px; /* Set a fixed height */
  background-color: #fff;
}

.person-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 2px solid #3f6eb5;
  border-top: 1px solid #e0e0e0;
  background-color: #fff;
  height: 50px; /* Set a fixed height */
  min-height: 50px;
}


.search-ph {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #3f6eb5;
  border-left: 1px solid #e0e0e0;
  background-color: #fff;
  height: 15px; /* Set a fixed height */
  min-height: 15px;
}

.person-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
  flex-grow: 1; /* Ensures it takes available space */
  margin-left: 4px;
  color: #000;
}

.person-details h2, .person-details p {
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  position: relative;
}

.speaker-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px; /* Or any height that fits your design */
  width: 50px;  /* Or any width that fits your design */
  /* Add any other styling as needed */
}

.icon-button:focus {
  outline: 2px solid #636da4; /* Custom focus outline color */
}

.menu {
  position: absolute;
  top: 100%;
  right: 0;
  width: 125px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.2);
  z-index: 1000;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
}

.menu-item {
  padding: 8px 16px;
  cursor: pointer;
  color: #333;
  width: 100%; /* Ensures each item takes up the full width of the menu */
  box-sizing: border-box; /* Includes padding and border in the width */
  text-align: left; /* Optional: Aligns text to the left */
}

.menu-item:hover {
  background-color: #f5f5f5;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.message.me {
  display: flex;
  justify-content: flex-end;
}

.message.me .text {
  background-color: #3f6eb5; /* Green background for sent messages */
  color: #fff; /* Dark text for readability */
  border-radius: 15px;
  padding: 10px;
  margin-right: 5px;
  /* background-color: #636da4;  */
  border-bottom-right-radius: 0; /* Adjust corner for self messages */
}

.chat-header {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: left; /* Align items to the left */
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.assistant-label {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  justify-content: left; /* Center text horizontally */
  align-items: left; /* Center text vertically */
}

.chat-select {
  background-color: white;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  height: 35px
}

.message {
  display: flex;
  align-items: flex-end; /* Aligns message bubble at the bottom */
  margin-bottom: 20px;
}

.message.other {
  justify-content: flex-start;
}

.message .text {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #ccc;
  max-width: 70%;
  text-align: left;
}


.message.other .text {
  color: #000;
  border-bottom-left-radius: 0; /* Adjust corner for other messages */
}

.message-time {
  display: block;
  font-size: 12px;
  color: #E0E0E0; /* Light gray color for time */
  text-align: right;
  margin-top: 8px;
}

.message-time.other {
  display: block;
  font-size: 12px;
  color: #b5aeae; /* Light gray color for time */
  text-align: right;
  margin-top: 8px;
}

.typing-indicator {
  text-align: left;
}


.chat-input input {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 10px #ccc; */
  width: 100%;
  /* height: 20px; */
  margin: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  color: #000;
}

.chat-input button {
  background-color: #3f6eb5;
  color: white;
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  /* font-size: 16px; */
  cursor: pointer;
  outline: none;
  border: none;
  height: 40px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 50%;
  min-width: 0;
  width: 40px;
}

.round-button {
  background-color: #3f6eb5;
  color: white;
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 39px;
  border-radius: 50%;
  min-width: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* Optional: Uncomment to add transition effect */
  /* transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; */
}

.round-button-inactive {
  background-color: rgba(204, 204, 204, 0.52);
  color: rgb(171, 171, 171);
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 39px;
  border-radius: 50%;
  min-width: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.round-button-active {
  background-color: #000;
  color: white;
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 39px;
  border-radius: 50%;
  min-width: 0;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.round-button:hover {
  background-color: #333;
}

.chat-input button:hover, .chat-input button:active {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  /* margin-bottom: -1px; */
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #656566d4;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #656566d4;
}

.scroll-box {
  overflow-y: scroll;
  height: 200px;
  border: 1px solid #ccc;
}

.chat-select {
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  width: 35%;
  outline: none;
  text-transform: uppercase;
}


.PowerSettingsNewIcon {
  color: red;
  font-size: 40px;
}

.call-off-button {
  background-color: red; /* Red background */
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px; 
  height: 40px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.call-off-button:hover {
  background-color: #ff6666; /* Lighter red on hover */
}

.toggle-button {
  background-color: #000; /* Red background */
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 50px; 
  height: 50px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
  margin-right: 24px;
}

.toggle-button:hover {
  background-color: rgba(0, 0, 0, 0.64); /* Lighter red on hover */
}

@keyframes fadeOutSimple {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.dialog-fade-out {
  animation: fadeOutSimple 0.5s ease forwards;
}


.buttons-holder {
  display: inline-flex;
  justify-content: 'center';
  align-items: 'center';
  /* background-color: rgba(0, 0, 0, 0.895); */
  padding: 10px;
  /* padding-left: 15px; */
  border-radius: 15px;
  /* margin-top: 0px; */
}

.toggle-button-raw {
  /* background-color: rgba(0, 0, 0, 0.895); */
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}

.toggle-button-raw:hover {
  background-color: rgba(58, 58, 58, 0.895);
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Smooth transition for background color */
}


.call-dialog {
    border-radius: 30px;
}

.call-dialog-content {
  /* border: 2px solid #3f6eb5; */
  background: linear-gradient(to bottom, #fff 0%, #fff 0%, rgba(0, 0, 0, 0.783) 0%, rgb(0, 0, 0) 80%);
  /* border-radius: 30px; */
}

@media only screen and (max-width: 1200px) {
  .chat-container {
    display: flex;
    width: 100vw;
    height: 100vh;
    /* background-color: #d3d3d3; */
    border-right: 0px solid #e0e0e0; /* Subtle border */
  }
  .chat-messages {
    margin-top: 70px;
    margin-bottom: 50px;
    overflow-y: auto;
    flex: 1;
    padding: 20px;
    border-bottom: #333f80;
  }
  
.chat-input {
  position: fixed;
  bottom: 0; /* Adjust as needed */
  left:0;
  width: 100%; /* Ensures full width */
  z-index: 100; /* Ensures it stays on top */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid #3f6eb5;
  border-left: 0px;
  border-right: 0px;
  /* border-top: 0px; */
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(245, 242, 242);
  background-color: #fff;
  height: 55px;
}

}

  .person-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid #3f6eb5;
    border-top: 1px solid #e0e0e0;
    background-color: #fff;
    height: 50px; /* Set a fixed height */
    min-height: 50px;
    
}

.chat-input {
  width: 100%; /* Ensures full width */
  z-index: 100; /* Ensures it stays on top */
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 2px solid #3f6eb5;
  border-left: 0px;
  border-right: 0px;
  /* border-top: 0px; */
  border-bottom: 1px solid #e0e0e0;
  background-color: rgb(245, 242, 242);
  background-color: #fff;
  height: 55px;
}

  .chat-messages {
      margin-top: 70px;
      overflow-y: auto;
      flex: 1;
      padding: 20px;
      border-bottom: #333f80;
  }

  .chat {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-color: #f2f2f2;
    /* border-radius: 10px; */
    /* margin: 20px auto; */
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.1);
    border-left: 1px solid #e0e0e0;
  }
/* } */

.call-button {
  color: white; /* White icon color */
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 10px;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.call-button-inactive {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  background-color: rgba(204, 204, 204, 0.52);
  color: rgb(171, 171, 171);
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 25px;
  border-radius: 50%;
  min-width: 0;
  width: 25px;
}

.call-button .icon {
  color: white;
  /* font-size: 24px; */
}

.call-button:hover {
  background-color: #388e3c;
  /* transform: scale(1.1); */
}

/* Dialog Styles */
.call-dialog .MuiDialog-paper {
  background-color: #2c3e50; /* Dark background for the dialog */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.call-dialog-content {
  text-align: center;
  padding: 20px;
  color: white; /* White text for contrast */
}

.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
  background-color: gray;
  border: 3px solid white;
}

.contactAvatar {
  width: 100px;
  height: 100px;
  background-color: gray;
  border: 3px solid white;
}

.contact-name {
  margin-top: 10px;
  font-size: 35px;
  font-weight: bold;
}

.call-time {
  margin-bottom: 30px;
  margin-top: 5px;
}


.dialog-toggle-button {
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.3s, transform 0.2s;
  color: white; /* White icon color */
}

.toggle-button .icon {
  font-size: 30px;
}

/* .toggle-button:not(.end-call):hover {
  transform: scale(1.1);
} */

.toggle-button:hover {
  transform: scale(1.1);
}

/* End Call Button Styles */
.end-call {
  width: 50px;
  height: 50px;
  transition: background-color 0.3s ease;
  background-color: red;
  outline: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: auto;
}

.end-call:hover {
  background-color: #c0392b; /* Darker red on hover */
}

/* Other Buttons Styles */
.toggle-button:not(.end-call) {
  background-color: #2980b9; /* Blue background for other buttons */
}

.toggle-button:not(.end-call):hover {
  background-color: #21618c; /* Darker blue on hover */
}

/* Dialog Styles */
.call-dialog .MuiDialog-paper {
  background-color: #2c3e50; /* Dark background for the dialog */
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.call-dialog-content {
  text-align: center;
  padding: 20px;
  color: white; /* White text for contrast */
}




/*
***************************************** wave
*/


.audio-waves {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin: 20px 0;
}

.wave {
  width: 4px;
  background-color: white;
  border-radius: 2px;
  opacity: 0.7;
  transform-origin: bottom; /* Ensure waves expand from the bottom */
}

.wave.animated {
  animation: waveAnimation 1.5s infinite ease-in-out;
}

/* Individual wave styles */
.wave:nth-child(1) { height: 10px; }
.wave:nth-child(2) { height: 10px; }
.wave:nth-child(3) { height: 10px; }
.wave:nth-child(4) { height: 10px; }
.wave:nth-child(5) { height: 10px; }
.wave:nth-child(6) { height: 10px; }
.wave:nth-child(7) { height: 10px; }
.wave:nth-child(8) { height: 10px; }
.wave:nth-child(9) { height: 10px; }

/* Conditional animation based on the 'animated' class */
.wave.animated:nth-child(1) { animation: waveAnimation 1.2s infinite ease-in-out; }
.wave.animated:nth-child(2) { animation: waveAnimation 1.4s infinite ease-in-out; }
.wave.animated:nth-child(3) { animation: waveAnimation 1.1s infinite ease-in-out; }
.wave.animated:nth-child(4) { animation: waveAnimation 1.3s infinite ease-in-out; }
.wave.animated:nth-child(5) { animation: waveAnimation 1.5s infinite ease-in-out; }
.wave.animated:nth-child(6) { animation: waveAnimation 1.2s infinite ease-in-out; }
.wave.animated:nth-child(7) { animation: waveAnimation 1.4s infinite ease-in-out; }
.wave.animated:nth-child(8) { animation: waveAnimation 1.1s infinite ease-in-out; }
.wave.animated:nth-child(9) { animation: waveAnimation 1.3s infinite ease-in-out; }

@keyframes waveAnimation {
  0%, 100% { transform: scaleY(1); }
  50% { transform: scaleY(2.5); }
}




/*
***************************************** head
*/



.head {
  width: 50px; /* Smaller head size */
  height: 50px; /* Smaller head size */
  border-radius: 50%;
  background-color: #f2ccbb;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
  padding: 0px;
  box-sizing: border-box;
  margin-right: 15px;
}

.hair {
  background-color: #8b4513;
  width: 100%;
  height: 20px; /* Smaller hair height */
  border-radius: 50% 50% 0 0;
  position: absolute;
  top: 0;
}

.eyes-container,
.eyebrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3px; /* Smaller margin */
}

.eye {
  width: 12px; /* Smaller eye width */
  height: 12px; /* Smaller eye height */
  background-color: #fff;
  border-radius: 50%;
  margin: 0 6px; /* Smaller margin */
  position: relative;
  overflow: hidden;
}

.iris {
  width: 7px; /* Smaller iris width */
  height: 7px; /* Smaller iris height */
  background: radial-gradient(circle, #4169E1 60%, #000 100%);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.pupil {
  width: 2px; /* Smaller pupil width */
  height: 2px; /* Smaller pupil height */
  background-color: #000;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eyebrow {
  width: 15px; /* Smaller eyebrow width */
  height: 3px; /* Smaller eyebrow height */
  background-color: #000;
  border-radius: 10px;
  margin: 0 3px; /* Smaller margin */
  position: relative;
}

.eyebrow.left {
  transform: rotate(-10deg);
}

.eyebrow.right {
  transform: rotate(10deg);
}

.nose {
  width: 1px; /* Narrower nose */
  height: 5px; /* Shorter nose */
  background-color: #592f2a;
  border-radius: 0;
  margin-bottom: 8px; /* Smaller margin */
}

.mouth {
  width: 10px; /* Smaller mouth width */
  height: 5px; /* Smaller mouth height */
  background-color: #9b302c;
  border-radius: 0 0 10px 10px;
  animation: talking 0.3s infinite;
}

.nospeak-mouth {
  width: 8px; /* Smaller mouth width */
  height: 1px; /* Smaller mouth height */
  background-color: #592f2a;
  border-radius: 100px / 10px;
}

@keyframes talking {
  0%, 100% { height: 5px; }
  50% { height: 2px; }
}

