
#root {
  /* max-width: 1000px; */
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.chat-container {
  display: flex;
  width: 30vw;
  height: 90vh;
  max-width: 100%;
  max-height: 100%;
  margin: 0;
  overflow: hidden;
}

.sidebar {
  width: 250px; /* Fixed sidebar width */
  max-height: calc(100vh); /* Adjust height as needed, assuming there's a header of 60px */
  background-color: #f2f2f2;
  border-right: 0px solid #ccc;
  display: flex;
  flex-direction: column;
  overflow-y: auto; /* Enables vertical scrolling */
  margin-right: 2px;
}

.assistant-tab {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #ccc;
  font-size: 18px;
  text-align: center;
  background-color: #dae0e5; /* Softer color for the tabs */
  color: #333;
  cursor: pointer;
}

.assistant-tab:hover, .assistant-tab.active {
  background-color: #b0c4de; /* Slightly darker shade on hover or active */
}

.assistant-name {
  font-weight: bold;
}

.last-message {
  font-size: 14px;
  color: #666;
}

.app-header {
  width: 100%;
  background-color: #f8f8f8; /* Adjust the color as needed */
  padding: 10px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.sidebar-header, .person-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid gray;
  background-color: #f8f8f8;
  height: 50px; /* Set a fixed height */
}

.sidebar-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the left */
  padding: 10px;
  border-bottom: 1px solid gray;
  color: #3f51b5;
}

.sidebar-header svg {
  margin-right: 10px; /* Adds some space between the icons */
}

.person-info {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #3f51b5;
  background-color: #f8f8f8;
}

.person-details {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns content to the left */
  flex-grow: 1; /* Ensures it takes available space */
  margin-left: 4px;
}

.person-details h2, .person-details p {
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.message.me {
  display: flex;
  justify-content: flex-end;
}

.message.me .text {
  background-color: #636da4; /* Green background for sent messages */
  color: #fff; /* Dark text for readability */
  border-radius: 7px;
  padding: 6px 10px;
  margin-right: 5px;
}

.chat {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  width: calc(100% - 250px);
  height: 100%;
  background-color: #f2f2f2;
  /* border-radius: 10px; */
  /* margin: 20px auto; */
  box-shadow: 0px 0px 0px #ccc;
}


/* Positioning the eyes */
.left-eye {
  left: 110px; /* Adjust as necessary */
  top: 10px; /* Adjust as necessary */
}

.right-eye {
  right: 110px; /* Adjust as necessary */
  top: 10px; /* Adjust as necessary */
}


@keyframes talking {
  0%, 100% { height: 35px; }
  50% { height: 10px; }
}

.mouth {
  width: 15px;
  height: 20px;
  margin-bottom: 5px;
  background-color: #9b302c; /* White color for the mouth */
  border-radius: 230px / 230px;
  animation: talking 0.3s infinite;
}

.nospeak-mouth {
  width: 15px;
  height: 1px;
  background-color: #592f2a; /* White color for the mouth */
  border-radius: 100px / 10px; /* Creates an oval shape */
  position: relative;
}

.chat-header {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: left; /* Align items to the left */
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.assistant-label {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  justify-content: left; /* Center text horizontally */
  align-items: left; /* Center text vertically */
}

.head {
  width: 50px; /* Adjust the size of the head */
  height: 50px;
  border-radius: 50%;
  background-color: rgb(176, 157, 157); /* Background color of the head */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px; /* Adjust as needed for internal spacing */
  box-sizing: border-box;
}

.eyes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Adjust the space between eyes and nose */
}

.eyebrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Adjust the space between eyes and nose */
}

.eyebrow {
  width: 10px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 4px; /* Minimize space between the eyes */
  position: relative; /* Needed for absolute positioning of the pupil */
}

.eye {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 30%;
  margin: 0 5px; /* Minimize space between the eyes */
  position: relative; /* Needed for absolute positioning of the pupil */
}

.pupil {
  width: 4px;
  height: 4px;
  background-color: #000; /* Black color for the pupil */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the pupil within the eye */
}

.nose {
  width: 2px;
  height: 5px;
  background-color: #592f2a;
  border-radius: 0%;
  margin-bottom: 12px; /* Adjust as needed */
  transform: rotate(0deg); /* Rotate to create an upward curve */
}

.chat-select {
  background-color: white;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  height: 35px
}

.chat-messages {
  overflow-y: auto;
  flex: 1;
  padding: 20px;
  border-bottom: #333f80;
}

.message {
  display: flex;
  align-items: flex-end; /* Aligns message bubble at the bottom */
  margin-bottom: 20px;
}

.message.me {
  justify-content: flex-end;
}

.message.other {
  justify-content: flex-start;
}

.message .text {
  position: relative;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  max-width: 70%;
  text-align: left;
}

.message.me .text {
  background-color: #636da4; /* Light green background for self messages */
  border-bottom-right-radius: 0; /* Adjust corner for self messages */
}

.message.other .text {
  border-bottom-left-radius: 0; /* Adjust corner for other messages */
}

.message-time {
  display: block;
  font-size: 12px;
  color: #E0E0E0; /* Light gray color for time */
  text-align: right;
  margin-top: 8px;
}

.message-time.other {
  display: block;
  font-size: 12px;
  color: #b5aeae; /* Light gray color for time */
  text-align: right;
  margin-top: 8px;
}

.typing-indicator {
  text-align: left;
}

.chat-input {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  border: 1px solid #3f51b5;
  /* border-left: 0px; */
  padding-top: 2px;
  padding-bottom: 2px;
  background-color: rgb(245, 242, 242);
  background-color: #fff;
}

.chat-input input {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  /* box-shadow: 0px 0px 10px #ccc; */
  width: 90%;
  /* height: 20px; */
  margin: 2px;
  margin-bottom: 5px;
  margin-top: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}

.chat-input button {
  background-color: #3f51b5;
  color: white;
  margin: 2px;
  margin-left: 5px;
  margin-right: 5px;
  /* font-size: 16px; */
  cursor: pointer;
  /* outline: none;
  border: none; */
  height: 39px;
  /* transition: all 0.3s ease-in-out; */
  border-radius: 50%;
  min-width: 0;
  width: 40px;
  
}

.chat-input button:hover {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #333f80;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #333f80;
}

.scroll-box {
  overflow-y: scroll;
  height: 200px;
  border: 1px solid #ccc;
}

.chat-select {
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  width: 35%;
  outline: none;
  text-transform: uppercase;
}