#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


.message.me {
  display: flex;
  justify-content: flex-end;
}

.message.me .text {
  background-color: #636da4;
  color: white;
}

.chat {
  display: flex;
  flex-direction: column;
  width: 400px;
  height: 600px;
  background-color: #f2f2f2;
  border-radius: 10px;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #ccc;
}

/* Positioning the eyes */
.left-eye {
  left: 110px; /* Adjust as necessary */
  top: 10px; /* Adjust as necessary */
}

.right-eye {
  right: 110px; /* Adjust as necessary */
  top: 10px; /* Adjust as necessary */
}


@keyframes talking {
  0%, 100% { height: 35px; }
  50% { height: 10px; }
}

.mouth {
  width: 15px;
  height: 20px;
  margin-bottom: 5px;
  background-color: #9b302c; /* White color for the mouth */
  border-radius: 230px / 230px;
  animation: talking 0.3s infinite;
}

.nospeak-mouth {
  width: 15px;
  height: 1px;
  background-color: #592f2a; /* White color for the mouth */
  border-radius: 100px / 10px; /* Creates an oval shape */
  position: relative;
}

.chat-header {
  display: flex;
  align-items: center; /* Align items vertically */
  justify-content: left; /* Align items to the left */
  background-color: #3f51b5;
  color: white;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.assistant-label {
  flex-grow: 1; /* Take up remaining space */
  display: flex;
  font-size: 20px;
  margin-left: 5px;
  justify-content: left; /* Center text horizontally */
  align-items: left; /* Center text vertically */
}

.head {
  width: 50px; /* Adjust the size of the head */
  height: 50px;
  border-radius: 50%;
  background-color: rgb(176, 157, 157); /* Background color of the head */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px; /* Adjust as needed for internal spacing */
  box-sizing: border-box;
}

.eyes-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Adjust the space between eyes and nose */
}

.eyebrow-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px; /* Adjust the space between eyes and nose */
}

.eyebrow {
  width: 10px;
  height: 2px;
  background-color: #000;
  border-radius: 50%;
  margin: 0 4px; /* Minimize space between the eyes */
  position: relative; /* Needed for absolute positioning of the pupil */
}

.eye {
  width: 10px;
  height: 10px;
  background-color: #fff;
  border-radius: 30%;
  margin: 0 5px; /* Minimize space between the eyes */
  position: relative; /* Needed for absolute positioning of the pupil */
}

.pupil {
  width: 4px;
  height: 4px;
  background-color: #000; /* Black color for the pupil */
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the pupil within the eye */
}

.nose {
  width: 2px;
  height: 5px;
  background-color: #592f2a;
  border-radius: 0%;
  margin-bottom: 12px; /* Adjust as needed */
  transform: rotate(0deg); /* Rotate to create an upward curve */
}

.chat-select {
  background-color: white;
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
  height: 35px
}



.chat-messages {
  overflow-y: scroll;
  flex: 1;
  padding: 20px;
  border-bottom: #333f80;
}

.message {
  display: flex;
  align-items: left;
  margin-bottom: 20px;
}

.message .text {
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px #ccc;
  max-width: 70%;
  text-align: left;
}

.message img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.typing-indicator {
  text-align: left;
}

.chat-input {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: #f2f2f2;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.chat-input input {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px #ccc;
  width: 90%;
  height: 20px;
  margin: 5px;
  outline: none;
  border: none;
  font-size: 16px;
}

.chat-input button {
  background-color: #3f51b5;
  color: white;
  margin: 5px;
  font-size: 16px;
  cursor: pointer;
  outline: none;
  border: none;
  height: 39px;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;
}

.chat-input button:hover {
  background-color: #333;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  -webkit-border-radius: 0px;
  border-radius: 0px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 0px;
  background: #333f80;
}

::-webkit-scrollbar-thumb:window-inactive {
  background: #333f80;
}

.scroll-box {
  overflow-y: scroll;
  height: 200px;
  border: 1px solid #ccc;
}

.chat-select {
  background-color: rgb(247, 247, 247);
  box-shadow: 0px 0px 8px rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
  padding: 8px 10px;
  width: 35%;
  outline: none;
  text-transform: uppercase;
}