.login-page__logo {
    max-width: 100px;
    height: 100px;
}


  .login-container {
    width: 100%; /* Make login container full-width */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-box {
    background-color: #fff;
    box-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    padding: 32px;
    max-width: 400px;
    width: 100%;
    margin: 0 auto; /* Center login box horizontally */
  }

  .error-message {
    background-color: #fde8e8;
    border: 1px solid #f68d8d;
    color: #d94848;
    padding: 12px;
    border-radius: 4px;
    margin-bottom: 16px;
    position: relative;
  }
  
  .close-btn {
    background-color: transparent;
    border: none;
    color: #d94848;
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
  }
  
  .logo-container {
    text-align: center;
    margin-bottom: 24px;
  }
  
  .logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
  }
  
  .label-input-container {
    display: flex;
    flex-direction: column;
  }
  
  label {
    font-weight: bold;
  }
  
  .login-label {
    width: calc(100% - 16px); /* Adjust width to accommodate for padding */
    border: 1px solid #d1d5db;
    border-radius: 4px;
    padding: 8px;
    outline: none;
    margin-top: 4px; /* Add margin between label and input */
  }
  
  .text-center {
    text-align: center;
  }
  
  .login-btn {
    background-color: #3a6185;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .login-btn:hover {
    background-color: #27496d;
  }
  